<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-worldfire-reader</symbolicName>
    <version>3.0</version>
    <name>World Fire Reader</name>

    <description>
        <![CDATA[
        This module provides product readers for importing AATSR World Fire data products into BEAM/VISAT.
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
          <p>Changes in 1.1:<br/>
           [GBOX-003] Pins in Worldfire product are misplaced<br/>
           [GBOX-002] Pins in Worldfire product slow down VISAT<br/>
          </p>
         ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importWorldFireAATSRProduct</id>
            <helpId>importWorldFireAATSRProduct</helpId>
            <formatName>ATSR World Fire</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <mnemonic/>
            <shortDescr>Import a AATSR World Fire product or product subset.</shortDescr>
            <description>Import a AATSR World Fire product or product subset.</description>
        </action>
    </extension>
</module>
