<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>glob-export</symbolicName>
    <version>2.0</version>
    <name>GlobToolbox Export</name>

    <description>The GlobToolbox export module provides export components for the GlobToolbox, such as export of time
        series as Google Earth KMZ file, animated gif, and csv-file.
    </description>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <categories>Reader</categories>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    <dependency>
        <module>glob-core</module>
    </dependency>

    <extension point="beam-ui:actions">

        <action>
            <parent>export</parent>
            <id>exportTimeBasedKmz</id>
            <class>org.esa.beam.glob.export.kmz.ExportTimeBasedKmz</class>
            <text>Export Time Series as Google Earth KMZ...</text>
            <mnemonic>K</mnemonic>
            <shortDescr>Export Time Series as KMZ.</shortDescr>
            <description>Export Time Series as KMZ.</description>
        </action>

    </extension>

</module>