<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>glob-ui</symbolicName>
    <version>2.0</version>
    <name>GlobToolbox UI</name>

    <description>Provides user interface components for the GlobToolbox.</description>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <categories>ui</categories>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>

    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.beam.glob.ui.TimeSeriesToolView</id>
            <class>org.esa.beam.glob.ui.TimeSeriesToolView</class>
            <title>Time Series View</title>
            <tabTitle>Time Series</tabTitle>
            <mnemonic>T</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <smallIcon>/org/esa/beam/glob/ui/icons/TimeSeries16.gif</smallIcon>
            <largeIcon>/org/esa/beam/glob/ui/icons/TimeSeries24.gif</largeIcon>
            <initState>FLOATING</initState>
            <initSide>EAST</initSide>
            <initIndex>3</initIndex>
            <toolBarId>GlobToolbox</toolBarId>
        </toolView>

        <toolView>
            <id>org.esa.beam.glob.ui.GlobToolboxManagerToolView</id>
            <class>org.esa.beam.glob.ui.GlobToolboxManagerToolView</class>
            <title>GlobToolbox Manager</title>
            <tabTitle>GlobToolbox</tabTitle>
            <mnemonic>T</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <smallIcon>/org/esa/beam/glob/ui/icons/GlobToolbox16.gif</smallIcon>
            <largeIcon>/org/esa/beam/glob/ui/icons/GlobToolbox24.gif</largeIcon>
            <initState>FLOATING</initState>
            <initSide>EAST</initSide>
            <initIndex>3</initIndex>
            <toolBarId>GlobToolbox</toolBarId>
        </toolView>

    </extension>

</module>