<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>glob-ui</symbolicName>
    <version>2.0</version>
    <name>GlobToolbox UI</name>

    <description>Provides user interface components for the GlobToolbox.</description>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <categories>ui</categories>

    <dependency>
        <module>beam-visat-rcp</module>
        <module>glob-core</module>
    </dependency>

    <extension point="beam-ui:toolViews">

        <toolView>
            <id>org.esa.beam.glob.ui.SliderToolView</id>
            <class>org.esa.beam.glob.ui.SliderToolView</class>
            <title>Time Series Slider</title>
            <tabTitle>Time Series</tabTitle>
            <mnemonic>T</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <smallIcon>/org/esa/beam/glob/ui/icons/GlobToolbox16.gif</smallIcon>
            <largeIcon>/org/esa/beam/glob/ui/icons/GlobToolbox24.gif</largeIcon>
            <initState>FLOATING</initState>
            <initSide>EAST</initSide>
            <initIndex>3</initIndex>
            <toolBarId>GlobToolbox</toolBarId>
        </toolView>

        <toolView>
            <id>org.esa.beam.glob.ui.TimeSeriesConfigToolView</id>
            <class>org.esa.beam.glob.ui.TimeSeriesConfigToolView</class>
            <title>Time Series Configuration</title>
            <tabTitle>Time Series Config</tabTitle>
            <mnemonic>C</mnemonic>
            <accelerator>ctrl alt C</accelerator>
            <smallIcon>/org/esa/beam/glob/ui/icons/GlobToolbox16.gif</smallIcon>
            <largeIcon>/org/esa/beam/glob/ui/icons/GlobToolbox24.gif</largeIcon>
            <initState>FLOATING</initState>
            <initSide>EAST</initSide>
            <initIndex>3</initIndex>
            <toolBarId>GlobToolbox</toolBarId>
        </toolView>

        <toolView>
            <id>org.esa.beam.glob.ui.TimeSeriesGraphToolView</id>
            <class>org.esa.beam.glob.ui.TimeSeriesGraphToolView</class>
            <title>Time Series Graph</title>
            <tabTitle>Time Series Graph</tabTitle>
            <mnemonic>T</mnemonic>
            <accelerator>ctrl alt T</accelerator>
            <smallIcon>/org/esa/beam/glob/ui/icons/TimeSeries16.gif</smallIcon>
            <largeIcon>/org/esa/beam/glob/ui/icons/TimeSeries24.gif</largeIcon>
            <initState>FLOATING</initState>
            <initSide>EAST</initSide>
            <initIndex>4</initIndex>
            <toolBarId>GlobToolbox</toolBarId>
        </toolView>

    </extension>

    <extension point="beam-ui:actions">

        <action>
            <id>TimeSeriesGroup</id>
            <parent>analysis</parent>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Time Series</text>
            <mnemonic>T</mnemonic>
        </action>

        <action>
            <id>newTimeSeriesFromBandAssistantAction</id>
            <parent>TimeSeriesGroup</parent>
            <class>org.esa.beam.glob.ui.NewTimeSeriesFromBandAssistantAction</class>
            <text>Create Time Series...</text>
            <shortDescr>Create a new time series based on the selected raster</shortDescr>
            <context>band, tiePointGrid</context>
            <helpId>newTimeSeriesFromBandAssistantAction</helpId>
        </action>
        <action>
            <id>newTimeSeriesAssistantAction</id>
            <parent>file</parent>
            <class>org.esa.beam.glob.ui.NewTimeSeriesAssistantAction</class>
            <text>New Time Series...</text>
            <shortDescr>Create a new time series</shortDescr>
            <helpId>newTimeSeriesAssistantAction</helpId>
            <placeAfter>new</placeAfter>
            <placeBefore>open</placeBefore>
        </action>

    </extension>

</module>