<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-medspiration-reader</symbolicName>
    <version>2.1</version>
    <name>Medspiration Reader</name>

    <description>
        <![CDATA[
        This module provides product readers for importing Medspiration data productsinto BEAM/VISAT.
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importMedspirationProduct</id>
            <helpId>importMedspirationProduct</helpId>
            <formatName>NetCDF</formatName>
            <profileClassName>org.esa.beam.dataio.medspiration.profile.MedspirationSpi</profileClassName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>Import Medspiration Product...</text>
            <mnemonic/>
            <shortDescr>Import a Medspiration data product or product subset.</shortDescr>
            <description>Import a Medspiration data product or product subset.</description>
        </action>
    </extension>

</module>
