<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>geotools-proj</symbolicName>
    <version>0.1</version>
    <name>GeoTools Projections</name>


    <description>This module contains additional GeoTools Projections.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2009 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>ceres-core</module>
    </dependency>

    <activator>org.geotools.referencing.operation.projection.Avtivator</activator>

    <categories>Library</categories>


    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.geotools.referencing.operation.MathTransformProvider</serviceProvider>
    </extension>

</module>    