<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-glob-due-reader</symbolicName>
    <version>3.1</version>
    <name>Glob DUE Readers</name>
    <funding>ESA</funding>

    <description>
        <![CDATA[
        This module provides product readers for several Glob DUE products including:
        - GlobAerosol
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>

    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">

        <action>
            <parent>importRasterData</parent>
            <id>globReader</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Import Glob DUE Data</text>
            <shortDescr>Import Glob DUE data</shortDescr>
            <description>Import Glob DUE data</description>
            <sortChildren>true</sortChildren>
        </action>

        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobAerosolProduct</id>
            <helpId>importGlobAerosolProduct</helpId>
            <formatName>GLOBAEROSOL-L3</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobAerosol</text>
            <mnemonic/>
            <shortDescr>Import a GlobAerosol data product or product subset.</shortDescr>
            <description>Import a GlobAerosol data product or product subset.</description>
        </action>
    </extension>

</module>
