<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-glob-due-reader</symbolicName>
    <version>3.1</version>
    <name>Glob DUE Readers</name>
    <funding>ESA</funding>

    <packaging>dir</packaging>

    <description>
        <![CDATA[
        This module provides product readers for several Glob DUE products and other global data formats:
        - GlobAerosol
        - GlobCarbon
        - GlobColour (binned and mapped) <a href="http://www.globcolour.info/products_description.html">GlobCOLOUR Level-3 data products</a>
        - <a href="http://ionia1.esrin.esa.int/">GlobCover data products</a>
        - IGBP Global Land Cover Classification
        - Medspiration
        - Arc/Info Binary Grid
        - AATSR World Fire
        ]]>
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-ui</module>
        <optional>true</optional>
    </dependency>

    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>
    <dependency>
        <module>beam-envi-reader</module>
    </dependency>

    <dependency>
        <lib>lib/jxl.jar</lib>
    </dependency>



    <categories>Reader</categories>

    <extension point="beam-ui:actions">

        <action>
            <parent>importRasterData</parent>
            <id>globReader</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>Import Glob DUE Data</text>
            <shortDescr>Import Glob DUE data</shortDescr>
            <description>Import Glob DUE data</description>
            <sortChildren>true</sortChildren>
        </action>

<!-- GLOBAEROSOL -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobAerosolProduct</id>
            <formatName>GLOBAEROSOL-L3</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobAerosol</text>
            <mnemonic/>
            <shortDescr>Import a GlobAerosol data product or product subset.</shortDescr>
            <description>Import a GlobAerosol data product or product subset.</description>
        </action>

<!-- GLOBCARBON -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobCarbonProduct</id>
            <formatName>GLOBCARBON</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a GlobCarbon data product.</shortDescr>
            <description>Import a GlobCarbon data product or product subset.</description>
            <text>GlobCarbon</text>
        </action>
        <!-- Implementation was stopped, because we had no go to do this. -->
        <!--<action>-->
        <!--<class>org.esa.beam.visat.actions.ProductImportAction</class>-->
        <!--<id>importGlobCarbonAsciiProduct</id>-->
        <!--<formatName>GLOBCARBON-ASCII</formatName>-->
        <!--<useAllFileFilter>true</useAllFileFilter>-->
        <!--<shortDescr>Import a GlobCarbon Ascii data product.</shortDescr>-->
        <!--<description>Import a GlobCarbon Ascii data product or product subset.</description>-->
        <!--</action>-->

<!-- GLOBCOLOUR -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobColourBinnedProduct</id>
            <formatName>GlobColour-Binned</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a Binned GlobColour data product or product subset.</shortDescr>
            <description>Import a Mapped GlobColour data product or product subset.</description>
        </action>
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobColourMappedProduct</id>
            <formatName>GlobColour-Mapped</formatName>
            <useAllFileFilter>true</useAllFileFilter>
            <shortDescr>Import a Mapped GlobColour data product or product subset.</shortDescr>
            <description>Import a Mapped GlobColour data product or product subset.</description>
        </action>

<!-- GLOBCOVER -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobCoverTileProduct</id>
            <formatName>GLOBCOVER-L3-MOSAIC-TILE</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobCover Bimonthly or Annual MERIS FR Mosaic Tile</text>
            <shortDescr>Import a GlobCover Bimonthly or Annual MERIS FR Mosaic Tile data product or product subset.</shortDescr>
            <description>Import a GlobCover Bimonthly or Annual MERIS FR Mosaic Tile data product or product subset.</description>
        </action>
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobCoverMosaicProduct</id>
            <formatName>GLOBCOVER-L3-MOSAIC</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobCover Bimonthly or Annual MERIS FR Mosaic</text>
            <shortDescr>Import a GlobCover Bimonthly or Annual MERIS FR Mosaic data product or product subset.</shortDescr>
            <description>Import a GlobCover Bimonthly or Annual MERIS FR Mosaic data product or product subset.</description>
        </action>
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importGlobCoverGeoTiffProduct</id>
            <formatName>GeoTIFF-GC</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>GlobCover Global/Regional Land Cover</text>
            <shortDescr>Import a GlobCover Global/Regional Land Cover data product or product subset.</shortDescr>
            <description>Import a GlobCover Global/Regional Land Cover data product or product subset.</description>
        </action>

<!-- IGBP Land Classification -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importIgbpGlcc</id>
            <formatName>IGBP_GLCC</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import a IGBP GLCC product or product subset.</shortDescr>
            <description>Import a IGBP Global Land Cover Classification product or product subset.</description>
        </action>

<!-- Medspiration -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importMedspirationProduct</id>
            <formatName>Medspiration</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <shortDescr>Import a Medspiration data product or product subset.</shortDescr>
            <description>Import a Medspiration data product or product subset.</description>
        </action>

<!-- Arc/Info Binary Grid -->
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importArcBinGrid</id>
            <formatName>ARC_INFO_BIN_GRID</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>Arc/Info Binary Grid</text>
            <shortDescr>Import a Arc/Info Binary Grids product or product subset.</shortDescr>
            <description>Import a Arc/Info Binary Grids product or product subset.</description>
        </action>

        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <parent>globReader</parent>
            <id>importWorldFireAATSRProduct</id>
            <formatName>ATSR World Fire</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <mnemonic/>
            <shortDescr>Import a AATSR World Fire product or product subset.</shortDescr>
            <description>Import a AATSR World Fire product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/globreader.hs</path>
        </helpSet>
    </extension>


</module>
