<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globaerosol-reader</symbolicName>
    <version>1.0</version>
    <name>GlobAerosol Reader</name>

    <description>Enables BEAM to read GlobAerosol data products.</description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <dependency>
        <module>beam-core</module>
    </dependency>
    
    <dependency>
        <module>beam-merisl3-reader</module>
    </dependency>

    <dependency>
        <module>beam-visat</module>
    </dependency>

    <categories>Reader</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importGlobAerosolProduct</id>
            <helpId>importGlobAerosolProduct</helpId>
            <formatName>GLOBAEROSOL-L3</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>Import GlobAerosol  Product...</text>
            <mnemonic/>
            <shortDescr>Import a GlobAerosol data product or product subset.</shortDescr>
            <description>Import a GlobAerosol data product or product subset.</description>
        </action>
    </extension>

</module>
