<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>glob-core</symbolicName>
    <version>1.1</version>
    <name>GlobToolbox Core</name>

    <description>Provides core components for the GlobToolbox.</description>

    <changelog>
        <![CDATA[
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>


    <categories>Core</categories>

    <dependency>
        <module>beam-visat-rcp</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
    </dependency>

</module>